services:
    btn_menu.voter:
        class: Btn\NodesBundle\Voter\Voter
        arguments:
            - @service_container
        tags:
            - { name: knp_menu.voter }

    btn_menu.loader:
        class: Btn\NodesBundle\Provider\NodeLoader
        arguments: ["@knp_menu.factory", "@service_container"]

    btn.router:
        class: Btn\NodesBundle\Router\Router
        arguments: ["@service_container"]
        tags:
            - { name: router, priority: 0 }

    btn_menu.provider:
        class: Btn\NodesBundle\Provider\NodeMenuProvider
        arguments:
          - @knp_menu.factory
          - @btn_menu.loader
          - @doctrine.orm.entity_manager
        tags:
          - { name: knp_menu.provider }

    btn.route.content_provider:
        class: Btn\NodesBundle\Service\RouteContentProvider
        arguments:
            availableRoutes: %btn.nodes.availableRoutes%

    gedmo.listener.tree:
        class: Gedmo\Tree\TreeListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]

    btn.twig.node_menu_extension:
        class: Btn\NodesBundle\Twig\NodeMenuExtension
        arguments:
            nodeMenuProvider: @btn_menu.provider
        tags:
            - { name: twig.extension }
