<div>
    <form action="{{ path('cp_assign_content_for_node', {'id': provider.id, 'node': node}) }}" class="form-horizontal" method="post" novalidate data-remote>
        {{ form_errors(form) }}
        <p>
            {{ form_widget(form) }}

        </p>

        <div class="centered">
            <input type="submit" class="btn btn-small" value="{% trans %}crud.save{% endtrans %}"/>
        </div>

        {{ form_rest(form) }}
    </form>
</div>
