{% form_theme form 'BtnCrudBundle:Form:fields.html.twig' %}

<form action="{{ path('cp_assign_content_for_node', {'id': provider.id, 'node': node}) }}" class="form-horizontal" method="post" novalidate data-remote>
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn btn-success btn-small btn-sm" value="{% trans %}crud.save{% endtrans %}"/>
        </div>
    </div>

    {{ form_rest(form) }}
</form>
