<div>
    {% for provider in providers %}
        <a href="{{ url('cp_assign_content_for_node', {'id': provider.id, 'node': node}) }}" class="select-bundle">{{ provider.nodeProvider }}</a> <br/>
    {% endfor %}
</div>