{% from 'BtnCrudBundle::breadcrumb.html.twig' import breadcrumb %}
{% extends '::control.html.twig' %}

{% block content %}
    <h2>Website structure</h2>

    {% for node in topNodes %}
        <ul class="node-root">
            {% include 'BtnNodesBundle:NodeControl:_tree.html.twig' %}
        </ul>
    {% endfor %}

    <a href="{{ path('cp_nodes') }}" class="btn btn-primary">Create New Menu</a>
{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_node': 'crud.breadcrumb.list'}) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@BtnNodesBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}