{% block listModal %}
<div {% if expanded == true %}class="expanded"{% endif %}>
  <div  class="modal fade hide btn-media-modal" tabindex="-1" role="dialog"
        style="display: none; {% if expanded == true %}width: 100%; height: 100%; left: 0; top: 0; margin-left: 0;{% endif %}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans %}node.choose_site{% endtrans %}:</h4>
        </div>
        <div class="modal-body" style="{% if expanded == true %}height: 70%;{% endif %}">


            <div class="row-fluid nodes-list" id="nodesManager">
                <div class="span12"></div>
                {% for node in topNodes %}
                    <div class="span5">
                        <ul class="tree" id="tree-{{ node.id }}">
                            {% include 'BtnNodesBundle:NodeControl:_simple_tree_modal.html.twig' %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary submit">{% trans %}crud.save{% endtrans %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
{% block stylesheets %}
    {% stylesheets
        '@BtnNodesBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% endblock %}
