/* dummy span */
.nodes-list > div[class*="span"]:first-child {
  height: 0;
  margin-bottom: 0;
  display: none;
}

.nodes-list > div[class*="span"] {
  margin-top: 25px;
}

.node-root {
    margin-bottom: 25px;
}

.node-title {
    font-size: 16px;
}

ul.tree, ul.tree ul {
    list-style: none;
    background: url(../img/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul {
 margin-left: 10px;
}

ul.tree li {
 margin: 0;
 padding: 0 12px;
    line-height: 20px;
     background: url(../img/node.png) no-repeat;
     font-weight: bold;
   }

ul.tree li:last-child {
     background: #fff url(../img/lastnode.png) no-repeat;
}

ul.tree li em a,
ul.tree li em {
    font-size: 12px;
    color: #ccc;
}

ul.tree li em.provider {
    color: #999;
}
ul.tree li em.provider a {
    text-decoration: underline;
    color: #999;
}

.node-select-link{
    font-weight: normal;
}

.node-select-link.selected {
    font-weight: bold;
    color: #005580;
}
